.header{
    .factory-name{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 120px;
        h1{
            font-size: 2rem;
        }
        h2{
            font-size: 1rem;
        }
        @include mobile-only{
            align-items: center;
        }
    }
    .nav-bar{
            display: flex;
            align-items: center;      
        .nav{
            display: flex;
            justify-content: space-around;
            width: 100%;
            .link-menu{
                text-decoration: none;
                color: black;
            }
        }
    }
}


