.factory-name a{
    text-decoration: none;
    color: #000;
}

#customization-of-product{
    display: flex;
    align-items: center;
    padding-top: 130px;
    @include desktop-only{
        flex-direction: column;
    }
    #detail-produit-image{
        #image-produit{
            max-width: 100%;
        }
    }
    
    #detail-produit-caracteristique{
        display: flex;
        flex-direction: column;
        #nom-produit{
            font-size: 1.4rem;
            font-weight: 400;
            padding-top: 20px;
        }
        #prix-produit{
            font-size: 1.2rem;
            font-weight: 100;
        }
        #description-produit{
            font-weight: 200;
        }
        #selection-lentille{
            width: 120px;
        }
        #selectipn-quantite{
            width: 120px;
        }
        label{
            color: $color-blue-dark;
            padding-top: 15px;
        }
        #ajout-panier{
            margin-top: 10px;
        }
    } 

}


