#productsList{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


    #product-in-sell{
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 35px 0 0 0;
        margin: 30px 0;
        text-decoration: none;
        background-color: #f0f0f0;
        box-shadow: 0px 0px 8px 5px rgba(242,239,242,0.7);
        #product-name{
            padding: 10px 0;
            color: #000;
        }
        #product-price{
            padding: 10px 0;
            color: #000;
        }
        
    }
    .col-md-5{
        #product-image{
            max-width: 100%;
        }
    }
    .col-xl-5{
        #product-image{
            max-width: 80%;
        }

    }
    

}

