#productsList{
    border-top: 1px solid $color-black;
    padding: 20px 0;
    #product-in-sell{
        padding: 20px 5px;
        text-decoration: none;
        #product-image{
            max-width: 100%;
        }
        #product-name{
            color: $color-black;
            margin: 0;
            padding-top: 5px;
            font-size: 1.4rem;
            font-weight: 400;
        }
        #product-price{
            color: $color-black;
            margin: 0;
            font-size: 1.2rem;
            font-weight: 100;
        }
    }
}






