// couleurs noires et blanches

$color-black: #000;
$color-white: #fff;

$color-blue-dark: #384F6E;
$color-blue-mid: #7292BB;
$color-blue-light: #B5D5FF;

$color-marron-mid: #6E572D;
$color-marron-light: #BAA172;